
@{
    ViewData["Title"] = "WorkProductDetail";
}
<center><h2>Work Product Detail</h2></center>
<div class="row">
    <div class="col">
        <table class="table">
            <tr><td>Name: </td> <td id="inputTD">@ViewBag.workProductDetail.Name</td></tr>
            <tr><td>Description: </td><td id="textareaTD">@ViewBag.workProductDetail.Description</td></tr>
            <tr id="lastRow" hidden="hidden"><td><button class="btn btn-primary" onclick="updateWk(@ViewBag.workProductDetail.Id)">Save</button></td><td><button class="btn btn-danger" onclick="cancel()">Cancel</button></td></tr>
        </table>
    </div>
    <div class="col">
        <div class="card float-right" style="width: 18rem;">
            <div class="card-body pull-right">
                
                    
                    <div class="btn-toolbar float-right">
                        
                        <div class="btn-group pull-right">
                            <a title="Start review" class="btn btn-dark" href="@Url.Action("ReviewCreator","Review", new { projectID = @ViewBag.workProductDetail.ProjectId, workproductId = @ViewBag.workProductDetail.Id })"><i class="fas fas fa-tasks"></i></a>
                            <a title="Download Artifacts" class="btn btn-dark" href="@Url.Action("SpecificArtifacts","Artifact", new { projectId = @ViewBag.workProductDetail.ProjectId, workProductId = @ViewBag.workProductDetail.Id})"><i class="fas fa-clipboard-list"></i></a>
                            
                        </div>
                        <div class="btn-group" style="margin-left: 5px;">
                            <button title="Update Work product" class="btn btn-dark" onclick="updateWorkProduct()"><i class="fas fa-pen"></i></button>
                            <a title="Delete work product" class="btn btn-danger" href="@Url.Action("DeleteWorkproduct","Project", new { id = @ViewBag.workProductDetail.Id, projectid = @ViewBag.workProductDetail.ProjectId})"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                 
                
            </div>
        </div>
    </div>
</div>
<h2>Work product artifacts</h2>

<table id="artifacts" class="display cell-border nowrap" style="width: 100%">
    <thead><tr><th>Reference ID</th><th>ArtifactName</th><th>Reviews</th></tr></thead>
    <tbody>
        @foreach (var a in ViewBag.Artifacts)
        {
            <tr><td>@a.IbmId</td><td><a target="_blank" href="@a.Url">@a.Name</a></td><td><a class="btn btn-primary" href="@Url.Action("GetReviewsForArtifact","Review",new { id = @a.Id})">Show Reviews</a></td></tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#artifacts').DataTable({ paging: true});
    });
    var previousName;
    var previousDescription;
    function updateWorkProduct() {
        var input = document.createElement('input');
        var nameTd = document.getElementById('inputTD');
        previousName = nameTd.innerText;
        input.value = nameTd.innerText;
        nameTd.innerText = "";
        var txtArea = document.createElement('textarea');
        var txtTd = document.getElementById('textareaTD');
        previousDescription = txtTd.innerText;
        txtArea.value = txtTd.innerText;
        txtTd.innerText = "";
        nameTd.appendChild(input);
        txtTd.appendChild(txtArea);
        var row = document.getElementById('lastRow');
        row.removeAttribute('hidden');
    }
    function cancel() {
        var nameTd = document.getElementById('inputTD');
        nameTd.innerHTML = "";
        nameTd.innerText = previousName;
        var desc = document.getElementById('textareaTD');
        desc.innerHTML = "";
        desc.innerText = previousDescription;
        var row = document.getElementById('lastRow');
        row.setAttribute('hiddent', 'hidden');
    }
    function updateWk(id) {
        var obj = new Object();
        obj.Id = id;
        obj.Name = document.getElementById('inputTD').getElementsByTagName('input')[0].value;
        obj.Description = document.getElementById('textareaTD').getElementsByTagName('textarea')[0].value;
        var data = JSON.stringify(obj);
        $.ajax({
            type: 'PUT',
            url: "http://localhost:49727/Project/ChangeWorkProduct",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: data,
            success: function (result) {
                
            }
        });
        previousName = obj.Name;
        previousDescription = obj.Description;
        cancel();

    }
</script>